* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(254, 254, 252);
}

.hidden-tags {
  display: none;
}

.light-gray {
  color: rgb(146, 146, 146);
}

.dark-gray {
  color: rgb(78, 78, 78);
}

.flex-sb-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-border {
  border-bottom: 0.5px solid lightgray;
}

.right-margin {
  margin-right: 30px;
}

.nav {
  height: 65px;
  padding: 15px 20px;
}

.icon-svg {
  width: 20px;
}

.nav-left-content {
  display: flex;
  width: 140px;
}

.search-form {
  width: 700px;
  max-width: 35%;
  display: flex;
  height: 100%;
}

.search-form input {
  padding: 7px 15px;
  width: 100%;
  border: 0.5px solid lightgray;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 16px;
  font-weight: 300;
}

.search-btn {
  width: 80px;
  padding: 7px 20px;
  background-color: #f0f0f0;
  text-align: center;
  border: 0.5px solid lightgray;
  font-size: 16px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: none;
}

.search-btn:hover {
  background-color: #e4e4e4;
}

.nav-right-content i {
  font-size: 18px;
}
